@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: brown;
    color: beige;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: beige;
    color: brown;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
}

.titulo{
    margin: 10px;
    padding: 2px;
    font-weight: 600;
    font-size: 3rem;
    text-shadow: 5px 5px 30px brown;
}

.parrafo{
    margin: 2px;
    padding: 10px;
    font-size: 2rem;
    font-weight: 400;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0.5rem;
    text-align: center;
}

.instrucciones {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.marcador {
    background-color: beige;
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    color: brown;
    font-weight: 600;
    margin-bottom: 2rem;
}

.marcador .nombre {
    position: absolute;
    color: beige;
    background-color: brown;
    line-height: 1.5;
    padding: .5rem;
    border-radius: 1rem;
    border: 3px solid beige;

}

.marcador .nombre-jugador {
    right: 80%;
}

.marcador .nombre-enemigo {
    left: 80%;
}

.marcador .puntos {
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.elige-tu-ataque {
    margin-bottom: 1rem;
}

.ataques {
    display: flex;
    gap: 1rem;
}

.ataque {

    background-color: beige;
    padding: .5rem;
    width: 110px;
    height: 100px;
    border-radius: 1.5rem;
    border: double 10px brown;
}

.mensaje {
    margin-bottom: 2rem;
    line-height: 1.8;
}

.mensaje .eleccion {
    color: brown;
    background-color: beige;
    border-radius: .5rem;
    padding-inline: 1rem;
}

.button{
    margin: 10px;
    padding: 10px;
    border: 0;
    line-height: 1;
    background-color: beige;
    color: #a52a2a;
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: 600;
    box-shadow: 0 0 5px beige, 0 0 25px beige;
}

.button:hover{
    box-shadow: 0 0 5px beige, 0 0 25px beige, 0 0 50px beige;
}

a{
    text-decoration: none;
}

.disabled {
    display: none;
}

/* Estilos html mas juegos */

.container-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-juegos{
    margin: 10px;
    padding: 2px;
    font-weight: 600;
    font-size: 4rem;
    text-shadow: 5px 5px 10px black;
}

.parrafo-juegos{
    margin: 2px;
    padding: 10px;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.container-datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-juegosD{
    margin: 10px;
    padding: 2px;
    font-weight: 600;
    font-size: 3rem;
    text-shadow: 5px 5px 10px black;
}

/* Estilos mas juegos */

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombre{
    margin: 10px;
    padding: 10px;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 5px 5px 10px black;
}

.img{
    height: 300px;
    width: 400px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: double 10px beige;
}

.edad, .minimo, .maximo, .material{
    font-size: 1.5rem;
    font-weight: 400;
    padding: 2px;
    margin: 2px;
}

.linea{
    height: 5px;
    border: none;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(165,42,42,1) 20%, rgba(245,245,220,1) 80%);
}

/* SweetAlert2 */

.alert-popup{
    border-radius: 3rem;
}

.alert-titulo{
    color: brown;
} 

.alert-img{
    border-radius: 50px;
    border: double 10px brown;
}

.alert-contenido{
    color: brown;
} 
